/* #cardProject {
  padding: 50px;
  position: fixed;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
}

#cardMediaProject {
  display: flex;
}

#cardContentProject {
  display: flex;
}

#divStyle {
  display: flex;
} */

#secondGridItem {
  padding: 20px;
}

/* @media (max-width: 960px) {
    #secondGridItem {
        display: none;
      }
} */

#firstGridItem {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
