.text-bold {
  font-weight: bold;
}

#techUsedTypo {
  margin: 10px;
  display: flex;
}

@media (max-width: 800px) {
  #divImage {
    display: none;
  }
  /* #techUsedTypo {
    margin-top: 70px;
    margin-bottom: 10px;
    display: flex;
  } */
}

#divImage {
  position: relative;
  text-align: center;
  height: 528px;
  margin-top: 64px;
}

#divImage img {
  object-fit: cover;
  height: 528px;
  width: 100%;
  position: absolute;
  left: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

@keyframes fadeInOut {
  0% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#divImage img.secondImage {
  animation-name: fadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 8s;
  animation-direction: alternate;
}
