.divProject {
    margin-top: 64px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    width: 100%;
}

#dividerProject {
    width: 100%;
  }

  .divContainer {
      margin-top: 20px;
      /* display: flex;
      justify-content: center;
      align-items: center; */
  }